{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "importOrder": ["^react", "^react-native", "^[a-zA-Z]", "^@?\\w", "^[./]"]
      }
    }
  ]
}
